<%= render 'services_list'%>

<a href="/update_location"><button>Update location</button></a>
<hr>
<% @services.each do |service| %>
    <div class="service_in_use box">
      <div class="service_userdata">
        <%= service.provider.capitalize if service.provider != '' %><br />
        <%= service.uname if service.uname != '' %><br />
        <%= service.uemail if service.uemail != '' %><br />
        <%= service.ulocation if service.ulocation != '' %><br />
        <%= service.oauth_token if service.oauth_token != '' %><br />
        <%= service.oauth_secret if service.oauth_secret != '' %><br />
        <% if session[:service_id] == service.id %>
          <span>Signed in</span>
        <% else %>
          <%= link_to "Remove this service", service, :confirm => 'Are you sure you want to remove this authentication?', :method => :delete, :class => "remove" %>
        <% end %>
      </div>
    </div>
<% end %>
